#colophon {
	height: 100px;
    background: #eee;
    padding: 3rem 0;
    color: transparentize(#000, .7);

}

p.footer {
    padding-top: 50px;
    font-size: 0.7em;
    text-align: right;
    color: rgba(215, 215, 215, 1);

    a {
    	color: rgba(215, 215, 215, 1);
    }
}
