#masthead {
	
}

.site-branding {
	margin-bottom: 1.25rem;
}

.site-title {
	font-size: 3rem;
	margin: 0;
}

.site-description {
	margin: 0;
}

.main-navigation {
	background: #333;
}

.main-navigation ul {
	margin: 0;
}

#bgImage {
    background-position: 50% 100%;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}